<div class="tasks">
  <mat-accordion class="tasks__accordin" displayMode="default" [multi]="true" [hideToggle]="false"  *ngFor="let task of tasks">
    <mat-expansion-panel class="tasks__accordin-panel" [hideToggle]="false" #panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="tasks__accordin-panel-item">
            {{task.title}}
          </mat-panel-title>
          <mat-panel-description class="tasks__accordin-panel-item">
            {{task.type}}
          </mat-panel-description>
          <mat-panel-description class="tasks__accordin-panel-item">
            {{task.task_state}}   
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p class="tasks__accordin-panel-desc"> {{task.description}} </p>
        <p class="tasks__accordin-panel-info"> 
          <span class="tasks__accordin-panel-info-dete">{{task.create_date.date | date: 'short'}}</span>
          <span>{{task.login}} </span>
          <button type="button" (click)="selectProject(task.project_id)" mat-button>{{task.project_title}}</button>
        </p>    
        <mat-action-row >  
          <button mat-icon-button (click)="editTask(task)" >
            <mat-icon color="primary" matTooltip="Edit" matTooltipPosition="above">mode_edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteTask(task)">
            <mat-icon color="warn"  matTooltip="Delete"  matTooltipPosition="above">delete_forever</mat-icon>
          </button>
          <button mat-icon-button (click)="panel.expanded = false">
            <mat-icon color="primary"  matTooltip="Close"  matTooltipPosition="above">clear</mat-icon>
          </button>
        </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion> 

</div>


