app-root {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

app-project {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}


app-projects {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

app-tasks {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}