.home { 
    background-color: white;
    &__projectsNav{
        width: 20%;
        min-width: 350px;
       
        @media (max-width: 700px) {
            width: 100%;
            
        }
    }
    &__tasksNav{
        min-width: 350px;
    }
    &__projects-card{
        margin: 10px;
        padding: 10px !important;

    }
  }
  
  