.project {
    height: 90vh;
    overflow: auto; 
    display: flex;
    flex-direction: column;
    
    &__tasks-card {
        flex: 1 1 auto;
        margin: 10px;
        padding: 10px !important;
    }
    &__data-card {
        margin: 10px;
        padding: 10px !important;
    }
}
