.projects { 
    margin: 10px;
    height: 80vh;
    display: flex; 
    flex-direction: column;
    flex: 1 1 auto;

    &__search {
        &__form {
            &-input {
                padding: 0 10px;
                width: 65%;
                max-width: 250px;
            }
        }
    }
    &__content {
        flex: 1 1 auto;
        display: flex; 
        flex-direction: column;
        justify-content: space-between;

        &__list {
            display: flex; 
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
            &-item {
                display: flex !important; 
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                &-icon{
                    color: dimgray;
                }
            }
        }

        &__paginator {

        }
    }

    
}
