.projects { 
    margin: 10px;

    &__search {
        &__form {
            &-input {
                padding: 0 10px;
                width: 65%;
                max-width: 250px;
            }
        }
    }

    &__list {
        display: flex ; 
        flex-direction: column ;
        justify-content: flex-start ;
        align-items: stretch ;
        &-item {
            display: flex !important;
        }
    }
}
