.project {
    overflow: auto; 
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    
    &__tasks-card {
        display: flex !important;
        flex-direction: column;
        flex: 1 1 auto;
        margin: 10px;
        padding: 10px !important;
    }
    &__data-card {
        margin: 10px;
        padding: 10px !important;
    }
}
