<div class="projects"> 
    <div class="projects__search">
        <form [formGroup]="projectsSearchForm" (ngSubmit)="search()" class="projects__search__form">
            <button type="button" mat-icon-button (click)="createProject()">
                <mat-icon color="primary"  matTooltip="Create project"  matTooltipPosition="above">note_add</mat-icon>
            </button>
            <mat-form-field mode="search" class="projects__search__form-input">
                <input  matInput placeholder="search" name="ProjectTitle" id="ProjectTitle" [formControl]="title" 
                    [errorStateMatcher]="matcher" [(ngModel)]="value">
                <mat-error *ngIf="title.hasError('maxlength')">
                    Title can not be longer than 50 characters.
                </mat-error>
                <button mat-button type="button" *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <mat-checkbox formControlName="onlyYourProjects" matTooltip="Only your project"  matTooltipPosition="above">
            </mat-checkbox>
        </form>
    </div>
    <div class="projects__content">
        <div class="projects__content__list">
            <button mat-button color="primary"  *ngFor="let project of paginateProjects"  
                    (click)="showProject(project)">
                <div class="projects__content__list-item">
                    <span>{{project.title}} </span>
                    <mat-icon *ngIf="getUserRole(project) == 3" class="projects__content__list-item-icon"  color=""
                        matTooltip="Your role: guest"  matTooltipPosition="above">account_box</mat-icon>
                    <mat-icon *ngIf="getUserRole(project) == 2" class="projects__content__list-item-icon" color="primary"
                        matTooltip="Your role: user"  matTooltipPosition="above">account_box</mat-icon>
                    <mat-icon *ngIf="getUserRole(project) == 1"class="projects__content__list-item-icon" color="accent"
                        matTooltip="Your role: creator"  matTooltipPosition="above">account_box</mat-icon>
                </div>
            </button>
        </div>
        <mat-paginator class="projects__content__paginator"
            [length]="projectsConunt"
            [pageSize]="paginatePageSize"
            (page)="pageEvent = $event">   
        </mat-paginator>
    </div>
    
</div>